@font-face {
    font-family: mysteryforest;
    src: url("assets/fonts/mysteryforest.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/forest-lamps-bank-trees-leaves-glade-1442625-pxhere.com.jpg");
    background-size: cover;
    /* font-family: 'Amatic SC', cursive; */
    width: 80%;
    margin: auto;
    color: white;
}